
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$font: 'Nunito', sans-serif;

$layout-breakpoint-small: 530px;
$layout-breakpoint-medium: 1000px;

$white: #ffffff;
$black: #000000;

$brown: #3C2C17;
$vinho: #44042D;

$pink-0:#FFECF2;
$pink-1:#D68FA5 20%;
$pink-2: #D68FA5 50%;
$pink-3: #D68FA5;

$red: #DC1955;
$pastel: #F0D7B9;

//espacamento
$s6:6px;
$s12: 12px;
$s18: 18px;
$s24: 24px;
$s30: 30px;
$s36: 36px;
$s42: 42px;
$s48: 48px;
$s56: 56px;
$s60: 60px;



$degrade: linear-gradient(329.92deg, #CD8A9E 0.02%, #EDD3B7 100.01%);



