#form-cadastro{
  background-color: $pink-0;
  border-radius: 8px;
  margin: 0 $s12;
  padding: $s18 $s36;
  h1{    
    color: $brown;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 33px;
  }
}