#form-cadastro {
  background-color: $pink-0;
  border-radius: 8px;
  padding: $s18 $s36;
  h1 {
    color: $brown;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 33px;
  }
}

.theme-dark {
  #form-cadastro {
    background-color: $pink-dark;
    color: $white;
    h1 {
      color: $pink-0;
    }
  }
}
@media (max-width: 500px) {
  #form-cadastro{
    padding:$s12;
    margin-left: calc(5vw - 12px);
    width: 90vw;
  }
}