.sidebar {
  position: relative;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
  background: $pink-0;
  padding: $s36;
  .nav-item {
    margin-top: $s18;
    margin-left: $s36;
  }
  a {
    color: $brown;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    color: lighten($brown, 15%);
  }
  i {
    margin-right: $s12;
  }
  img {
    width: 80%;
    margin-left: 10%;
  }
}
.mini-side {
  padding: $s18 !important;
  .nav-item {
    margin-left: $s12;
  }
  i {
    margin-right: 0;
  }
  a {
    border-radius: 5px;
    padding: $s6;
  }
  .logo-link:hover {
    background: none !important;
  }
  a:hover {
    background: $pink-2;
  }
  img {
    width: 40px;
  }
}
.danwer {
  position: absolute;
  width: $s36;
  height: $s36;
  vertical-align: middle;
  padding: $s6;
  font-size: 0.85em;
  border: none;
  border-radius: 50%;
  background: $white;
  z-index: 2048;
}
.danwer-small {
  top: 1%;
  left: 75px;
}
.danwer-big {
  top: 1%;
  left: 260px;
}
.danwer:hover {
  background-color: $pink-3;
}
.danwer:active,
.danwer:focus {
  border: none;
  outline: none;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.theme-dark {
  .sidebar {
    background-color: $pink-dark;
    color: $pink-0;
    a {
      color: $pink-0;
    }
    a:hover {
      color: $pastel;
    }
  }
}

@media (max-width: 500px) {
  .phoneScreen {
    display: none;
  }
  .danwer-small {
    top: 1%;
    left: 1vw;
  }
}
