@import 'base/variables';
@import 'base/reset';
@import 'base/texts';
@import 'base/buttons';
@import 'base/inputs';
@import 'base/spacing';


@import 'components/navbar';
@import 'components/home';
@import 'components/ingrediente';
@import 'components/formIngrediente';

.all{
  display: flex;
}
.principal{
  padding: $s36;
  display: flex;
}
.theme-dark{
  background-color: $dark;
  color: $white
}