@import 'base/variables';
@import 'base/reset';
@import 'base/texts';


@import 'components/navbar';
@import 'components/home';

.all{
  display: flex;
}
.principal{
  background-color: $white;
  padding: $s36;
  display: flex;
}
